# 1. if문의 기본 구조

In [1]:
money = True
if money:
    print('택시를')
print('타고')
    print('가라')

IndentationError: unexpected indent (1844545467.py, line 5)

In [3]:
money = False
if money:
    print('택시를')
print('타고')

타고

In [4]:
money = True
if money:
    print('택시를')
    print('타고')

택시를
타고

In [5]:
if money
    print('택시를  타고')

SyntaxError: expected ':' (3247788257.py, line 1)

## 2. 연산자

In [6]:
# 비교 연산자
x = 3
y = 2

print(x>y)  #True
print(x<y)  #False
print(x==y) #False
print(x!=y) #True

True
False
False
True

In [8]:
money = 5000

if money >= 3000:
    print('택시를 타고 가라')
else:
    print('걸어가라')

택시를 타고 가라

In [11]:
# 논리 연산자
# 조건식 x, y => and 둘다 True일 때 True
#                or 하나만 True이면 True
#                not True->False, False -> True

money = 0
card = True

if money >= 3000 or card:
    print('택시를 타고 가라')
else:
    print('걸어가라')

택시를 타고 가라

In [12]:
# in, not in
1 in [1,2,3]

True

In [13]:
1 not in [1,2,3]

False